<!DOCTYPE html>
<html>
<head>
  <title>Make Entre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar">
    <div class="container">
      <div id="logo">
      <%= link_to image_tag('logo.png', { :border => '0', :alt => ''}), root_path %>
      </div>
      <% if user_signed_in? %>
        <ul class="header-right">
          <li><%= link_to "イベント一覧", events_path %></li>
          <li><%= link_to current_user.email, current_user %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="header-right">
          <li><%= link_to "HOME", root_path %></li>
          <li><%= link_to "登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li>企業様向け</li>
          <li>CONTACT</li>
        </ul>
      <% end %>
    </div>
  </header>

  <div class="alerts">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>

  <%= yield %>

  <% if !current_page?(events_path) && !current_page?(root_path) %>
    <div class="container">
      <footer class="footer">
        <div class="small">
          &copy; 2015 Make Entre, Inc.
        </div>
      </footer>
    </div>
  <% end %>
</body>
</html>
